{ "METOFFICE_API_KEY": "your_metoffice_api_key_here",
  "WEATHER_LOCATION": "your location here",
  "WEATHER_LATITUDE": "your latitude here",
  "WEATHER_LONGITUDE": "your longitude here",
  "FASTMAIL_CALENDARS": [
    {"name": "Events", "url": "your calendar .ics file here", "color": "#51c27c"},
    {"name": "Holidays", "url": "your calendar .ics file here", "color": "#c2517c"}
],
  "WEATHER_MAP": {
    "0":  {"desc": "Clear night", "icon": "bi-moon", "symbol": "\ud83c\udf11"},
    "1":  {"desc": "Sunny day", "icon": "bi-sun", "symbol": "\u2600"},
    "2":  {"desc": "Partly cloudy (night)", "icon": "bi-cloud-moon", "symbol": "\ud83c\udf19"},
    "3":  {"desc": "Partly cloudy (day)", "icon": "bi-cloud-sun", "symbol": "\u26c5"},
    "4":  {"desc": "Not used", "icon": "bi-cloud", "symbol": "\u2601"},
    "5":  {"desc": "Mist", "icon": "bi-cloud-fog2", "symbol": "\ud83c\udf2b"},
    "6":  {"desc": "Fog", "icon": "bi-cloud-fog2", "symbol": "\ud83c\udf2b"},
    "7":  {"desc": "Cloudy", "icon": "bi-cloud", "symbol": "\u2601"},
    "8":  {"desc": "Overcast", "icon": "bi-clouds", "symbol": "\u2601"},
    "9":  {"desc": "Light rain shower (night)", "icon": "bi-cloud-drizzle", "symbol": "\ud83c\udf27"},
    "10": {"desc": "Light rain shower (day)", "icon": "bi-cloud-drizzle", "symbol": "\ud83c\udf27"},
    "11": {"desc": "Drizzle", "icon": "bi-cloud-drizzle", "symbol": "\ud83c\udf26"},
    "12": {"desc": "Light rain", "icon": "bi-cloud-drizzle", "symbol": "\ud83c\udf27"},
    "13": {"desc": "Heavy rain shower (night)", "icon": "bi-cloud-rain-heavy", "symbol": "\ud83c\udf27"},
    "14": {"desc": "Heavy rain shower (day)", "icon": "bi-cloud-rain-heavy", "symbol": "\ud83c\udf27"},
    "15": {"desc": "Heavy rain", "icon": "bi-cloud-rain-heavy", "symbol": "\ud83c\udf27"},
    "16": {"desc": "Sleet shower (night)", "icon": "bi-cloud-sleet", "symbol": "\ud83c\udf28"},
    "17": {"desc": "Sleet shower (day)", "icon": "bi-cloud-sleet", "symbol": "\ud83c\udf28"},
    "18": {"desc": "Sleet", "icon": "bi-cloud-sleet", "symbol": "\ud83c\udf28"},
    "19": {"desc": "Hail shower (night)", "icon": "bi-cloud-hail", "symbol": "\ud83c\udf27"},
    "20": {"desc": "Hail shower (day)", "icon": "bi-cloud-hail", "symbol": "\ud83c\udf27"},
    "21": {"desc": "Hail", "icon": "bi-cloud-hail", "symbol": "\ud83c\udf27"},
    "22": {"desc": "Light snow shower (night)", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "23": {"desc": "Light snow shower (day)", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "24": {"desc": "Light snow", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "25": {"desc": "Heavy snow shower (night)", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "26": {"desc": "Heavy snow shower (day)", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "27": {"desc": "Heavy snow", "icon": "bi-cloud-snow", "symbol": "\ud83c\udf28"},
    "28": {"desc": "Thunder shower (night)", "icon": "bi-cloud-lightning", "symbol": "\u26c8"},
    "29": {"desc": "Thunder shower (day)", "icon": "bi-cloud-lightning", "symbol": "\u26c8"},
    "30": {"desc": "Thunder", "icon": "bi-cloud-lightning", "symbol": "\u26c8"}
  }
}
